@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    font: normal 20px Arial;
    background-color: rgb(79, 124, 186);
}
h1{
    color: white;
    text-align: center;
    margin: 80px 0px;
}
main{
    background-color: white;
    margin: auto;
    width: 500px;
    padding: 5px;
    border-radius: 20px;
}
main > div > input{
    margin: 10px;
}